*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
  
  body {
   
    text-align: center;
    background-color: #163020;
  
  
  }


  
h3{

     font-size: 1.25rem; 
    color:  #88AB8E;
  
   

}

.nameStyle{
    font-size: 1.25rem;
   color: green;
   
    
}
h2{
    color: #F5E8DD;
    font-size: 2rem;
    
    
}
p{
  
    color: #627254;
    font-size: 1.25rem;
    

    
}



.navbar {
    overflow: hidden;
  
    
    
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
  
    
   
  
  }
  
  .navbar a:hover {
    color: green;
    background-color: #C3E2C2;
    
  }

  article{

    padding-top: 18%;

  }
