
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: #163020;
    font-size: 1.25rem;
    
}

.sectionOne{
    display: flex;
    justify-content: center ;
    align-items: center;
    height: 400px;
  
    
}

.pic1 {
width: 100%;
border-radius: 50%;
height: 300px;
margin: 30px;



}


.info {
    width: 50%;
    font-size: 1.25rem;

   
    
    
}


h1{
    color: black;
    background-color: #88AB8E;
    text-align: center;
    font-size: 2rem;
    margin-top: 50px;

}


.info button{
    padding: 10px;
    background-color: darkgreen;  
    color: white;
    margin-top: 20px;
 
}


p{
    color: white;
    text-align: justify;
   
 
    
   
  }
.sectionTwo h1{
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.container button {
    padding: 10px;
    background-color: darkgreen;
    color: white;
    
}

.container {
    display: flex;

    
}

button:hover{
    background-color: green;
  }

img {
    width: 100%;  
    border: solid 10px #627254;
    
   
    
}

.p1{
 
    margin: 10px;
    font-size: 1.25rem;
    color: white;
    
}


.navbar {
    overflow: hidden;
    font-size: 1rem;
  
    
    
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
  
  }
  
  .navbar a:hover {
    color: green;
    background-color: #C3E2C2;
  }

 
