
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


  body {
   
    text-align: center;
    background-color: #163020;
    font-size: 1.25rem;
    color: white;

  }
  h2{
    color: black;
    background-color: #88AB8E;
    text-align: center;
    font-size: 2rem;
    margin: 20px;
    

}



  article{
    padding-top: 10%;

  }

  
  .navbar {
    overflow: hidden;
    font-size: 1rem;
    
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px 10px;
    text-decoration: none;
  
  }
  
  .navbar a:hover {
    color: green;
    background-color: #C3E2C2;
  }
 
